/** Analysis: ... */

/** Design: ... */

/** Coding: Please indent and format your code properly */
/** Copy and paste your code to replace the template below */
/** Note that your class must be named Exercise01_01 */

public class Exercise01_01 {
  public static void main(String[] args) {
    System.out.println("Welcome to Java");
    System.out.println("Welcome to Computer Science");
    System.out.println("Programming is fun");
  }
}
